.navigation-bar {
    @apply h-14 px-4 sm:px-6 lg:px-8 py-2 flex flex-row justify-between sticky top-0;
    background-color: var(--navigation-bg);
    color: var(--navigation-fg);
    z-index: 10000;
}

.dark .navigation-bar {
    @apply bg-gray-800 text-gray-200;
}

.light .navigation-bar {
    @apply bg-gray-400 text-gray-700;
}

.navigation-bar .link {
    @apply flex flex-row items-center gap-1;
}

.link-list,
.link-list-end {
    @apply flex flex-row gap-8 items-center;
}

.link-list-end {
    @apply justify-end;
}

.link-list > li,
.link-list-end > li {
    @apply block;
}

.logo-link {
    @apply flex flex-row gap-4 text-xl uppercase;
}
.logo-link > img {
    @apply h-8 w-8;
}

.breadcrumbs {
    @apply flex flex-row gap-2 text-sm rounded-md p-4 m-4 mt-0;
}

.navigation-dropdown {
    @apply rounded-md mt-4;
}
.navigation-dropdown:not(.sub) {
    @apply py-2;
}

.navigation-dropdown > li.unpadded > hr {
    @apply my-2 border-gray-700;
}

.navigation-dropdown > li.label {
    @apply cursor-default my-2 uppercase px-8;
}

.navigation-dropdown > li .link {
    @apply cursor-pointer flex flex-row gap-1 items-center px-8;
}

.dark {
    .breadcrumbs {
        @apply bg-gray-800 text-gray-400;
    }
    .navigation-dropdown > li.label {
        @apply text-gray-400;
    }
    .navigation-dropdown {
        @apply bg-gray-800;
    }
    .navigation-dropdown > li:not(.label):hover {
        @apply bg-gray-400;
    }
}

.light {
    .breadcrumbs {
        @apply bg-gray-400 text-gray-700;
    }

    .navigation-dropdown > li.label {
        @apply text-gray-600;
    }

    .navigation-dropdown {
        @apply bg-gray-400;
    }

    .navigation-dropdown > li:not(.label):hover {
        @apply bg-gray-600;
    }
}
