@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --preferred-theme: "default";
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 200, 200, 200;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --preferred-theme: "dark";
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --preferred-theme: "light";
    }
}

body {
    transition-property: background-color, color;
    transition-duration: 500ms;
}

body.dark {
    @apply bg-black text-white;
}

body.light {
    @apply bg-white text-black;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .alert {
        @apply rounded-md p-3 text-lg text-white;
    }
    .highlight {
        @apply border-dotted border-b-2;
    }
    .dark .highlight {
        @apply text-white border-b-blue-200 hover:text-blue-200 hover:border-b-blue-400;
    }
    .light .highlight {
        @apply text-black border-b-blue-800 hover:text-blue-800 hover:border-b-blue-600;
    }
}

.flex-row-2,
.flex-row-2-center {
    @apply flex flex-row gap-2;
}
.flex-col-2 {
    @apply flex flex-col gap-2;
}
.flex-col-4 {
    @apply flex flex-col gap-4;
}

.tooltip-content {
    @apply w-40 text-center text-xs p-2 rounded-lg bg-black text-white border-white/20 border;
}

.hr-gray {
    @apply border-white/20 my-4;
}

.disclaimer {
    @apply italic text-white/30;
}

.avatar {
    @apply bg-rose-400 text-white h-8 w-8 rounded-full overflow-clip flex justify-center items-center;
}

.dialog-overlay {
    @apply fixed inset-0;
}

.dialog-content {
    @apply p-4 rounded-xl fixed top-[50%] left-[50%] max-h-[85vh] w-[90vw] max-w-[450px] translate-x-[-50%] translate-y-[-50%];
}

.dark {
    .dialog-overlay {
        @apply bg-black/50;
    }

    .dialog-content {
        @apply bg-gray-700 text-white;
    }
}

.light {
    .dialog-overlay {
        @apply bg-white/50;
    }

    .dialog-content {
        @apply bg-gray-300 text-black;
    }
}

@import "./styles/deformat.css";
@import "./styles/spinner.css";
@import "./styles/navigation.css";
@import "./styles/forms.css";
