.navigation-bar {
    @apply flex flex-col sticky top-0 px-4 sm:px-6;
    z-index: 10000;

    & > div {
        @apply flex flex-row justify-between h-14 py-2 items-center;

        &:nth-of-type(2) {
            .link-list > li {
                & > a,
                & > button {
                    @apply rounded-md p-2;
                }
            }
            .link-list-end > li {
                & > a,
                & > button {
                    @apply h-10 w-10 rounded-full flex flex-col justify-center items-center p-0;
                }
            }
        }
    }

    .menu-button {
        @apply hidden;
    }

    .link {
        @apply flex flex-row items-center gap-2;
    }

    .user-link > span:nth-last-of-type(1) {
        @apply hidden xl:inline-block;
    }
}

.link-list,
.link-list-end {
    @apply flex flex-row gap-8 items-center;
}

.link-list-end {
    @apply justify-end;
}

.link-list > li,
.link-list-end > li {
    @apply block;
}

.logo-link {
    @apply flex flex-row items-center flex-nowrap gap-4 text-sm xl:text-xl uppercase;
}
.logo-link > img {
    @apply h-8 w-8;
}

.banner {
    @apply min-w-max h-36 xl:h-48;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.breadcrumbs {
    @apply flex flex-row gap-2 text-sm rounded-md p-4 m-4 mt-0;
}

.breadcrumbs a {
    @apply flex flex-row;
}

.dark {
    .navigation-bar {
        @apply bg-gray-800 text-gray-200;

        & > div:nth-of-type(2) {
            .link-list,
            .link-list-end {
                & > li {
                    & > a,
                    & > button {
                        @apply hover:bg-white/20;
                    }
                }
            }
        }
    }

    .breadcrumbs {
        @apply bg-gray-800 text-gray-400;
    }
}

.light {
    .navigation-bar {
        @apply bg-gray-400 text-gray-700;

        & > div:nth-of-type(2) {
            .link-list,
            .link-list-end {
                & > li {
                    & > a,
                    & > button {
                        @apply hover:bg-black/20;
                    }
                }
            }
        }
    }

    .breadcrumbs {
        @apply bg-gray-400 text-gray-700;
    }
}
